@model ProfileViewModel
<div class="container">

    <div class="cards-title text-center mt-5">
        <h1 class="cards-header">Profile</h1>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="background-color: #24262D; padding-bottom: 0;">
            <div class="row">
                <div class="col-1 offset-11">
                    <button class="btn-close btn-close-white close"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <h3 class="text-center" style="color: white;">EDIT PROFILE</h3>
                    <form asp-action="EditProfile" asp-controller="Profile" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="main-text" asp-for="Profile.Name">Name</label><br />
                            <input class="form_input" type="text" asp-for="Profile.Name" />
                            <span class="input-validation-error" asp-validation-for="Profile.Name" />
                        </div>
                        <div class="form-group">
                            <label class="main-text" asp-for="Profile.Surname">Surname</label><br />
                            <input class="form_input" type="text" asp-for="Profile.Surname" />
                            <span class="input-validation-error" asp-validation-for="Profile.Surname" />
                        </div>

                        <div class="form-group">
                            <label class="main-text">Change profile photo</label><br />
                            <input type="file" asp-for="PhotoProfile" /><br>
                        </div>
                        <div class="text-end">
                            <input class="btn-watch mt-3" style="font-size:22px; border-radius:5px;" type="submit" value="Save" />
                        </div>                      
                    </form>                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="profile mt-5">
        <div class="row">
            <div class="col-md-2">
                <img class="profile-avatar" id="avatarBtn" src="@Model.Profile.AvatarModel.Path" />
                <a class="edit-btn" id="myBtn"><img src="/img/edit-icon.png" width="30" /></a>
            </div>
                                    
            <div class="col-md-6 offset-md-1">
                <div class="row profile-info">

                    <div class="col-md-5 offset-md-1">
                        <b class="card-item-text">Name</b>
                        <p>@Model.Profile.Name</p>
                        <b class="card-item-text">Email</b>
                        <p>@Model.Profile.Email</p>
                    </div>
                    <div class="col-md-5">
                        <b class="card-item-text">Surname</b>
                        <p>@Model.Profile.Surname</p>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-5 offset-1">
                            <img class="user" src="/img/history.png" alt="user">
                            <a class="btn btn-watch btn-sm mt-1 btn-profile">Cost Analytics</a>
                        </div>
                        <div class="col-md-6">
                            <img class="user" src="/img/bonus.png" alt="user">
                            <a class="btn btn-watch btn-sm mt-1 btn-profile">Cashback/bonuses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-list mt-5">
        @if (Model.Profile.Cards.Count != 0)
        {
            foreach (var item in Model.Profile.Cards)
            {
                @switch(item.Type)
                {
                    case CardType.Debit :
                    {
                        ViewBag.Image = "/img/shopping-cart.png";
                        ViewBag.CardImage = "/img/bank-card.png";
                        break;
                    }
                    case CardType.Credit :
                    {
                        ViewBag.Image = "/img/bank.png";
                        ViewBag.CardImage = "/img/credit-card.png";
                        break;
                    }
                    case CardType.Special:
                    {
                        ViewBag.Image = "/img/special.png";
                        ViewBag.CardImage = "/img/special-card.png";
                        break;
                    }
                }
                
                <div class="card-item">
                    <a class="card-item-type"><img width="25" class="me-2" src="@ViewBag.Image" /><b>@item.Type</b></a>
                    <div class="row mt-3">
                        <div class="col-4">
                            <img width=330 src="@ViewBag.CardImage"/>                            
                        </div>
                        <div class="col-5">
                            <h4>Your balance: $@item.Balance</h4>
                            <p><i class="card-info-header">Owner:</i> @item.CardName @item.CardSurname</p>
                            <p><i class="card-info-header">Card number:</i> @item.CardNumber</p>
                            <p><i class="card-info-header">Сard expiry date:</i> @item.Validity</p>
                            <p><i class="card-info-header">CVV:</i> @item.CVV</p>
                            <div class="mt-4">
                                <a class="main-btn btn-card" asp-controller="Transfer" asp-action="Transfer" asp-route-id="@item.Id">Transfer</a>
                                <a class="main-btn btn-card" asp-controller="Transfer" asp-action="Replenish" asp-route-id="@item.Id">Replenish</a>
                                <a class="main-btn btn-card btn-history" asp-controller="Transfer" asp-action="History" asp-route-id="@item.Id">Operations History</a>
                            </div>
                        </div>
                    </div>                    
                </div>                
            }
        }
        else
        {
           <div class="ms-4">
                <img src="/img/question.png" class="mt-4" width="80" />
                <a class="nav-item ms-2" style="font-size: 21px;" asp-controller="Cards" asp-action="Index"> You haven't got a card yet ?</a>
           </div>
        }
    </div>
</div>


