@model List<CardSample>

<div class="container">

    <div class="cards-title text-center mt-5">
        <h1 class="cards-header">Bank Cards</h1>
        <p class="cards-header-text mt-4">
            A debit card is the best way to pay for purchases and receive cashback. Great solution for comfortable shopping.<br />
            Choose a profitable card with a set of services that suits you
        </p>
    </div>

    <div class="card-nav text-center">
        <div class="card-nav-items col-4 offset-4">
            <a class="card-nav-item active" asp-controller="Cards" asp-action="Index">All Cards</a>
            <a class="card-nav-item" asp-controller="Cards" asp-action="Index" asp-route-type="Debit">Debit</a>
            <a class="card-nav-item" asp-controller="Cards" asp-action="Index" asp-route-type="Credit">Credit</a>
            <a class="card-nav-item" asp-controller="Cards" asp-action="Index" asp-route-type="Special">Special</a>
        </div>
    </div>

    <div class="card-list mt-5">
        @foreach (var item in Model)
        {
            @switch (item.Type)
            {
                case CardType.Debit:
                    {
                        ViewBag.Image = "/img/shopping-cart.png";
                        break;
                    }
                case CardType.Credit:
                    {
                        ViewBag.Image = "/img/bank.png";
                        ViewBag.Color = "#65C3D0";
                        break;
                    }
                case CardType.Special:
                    {
                        ViewBag.Image = "/img/special.png";
                        ViewBag.Color = "#FFB9DF";
                        break;
                    }
            }

            <div class="card-item">
                <a class="card-item-type"><img width="25" class="me-2" src="@ViewBag.Image" /><b>@item.Type</b></a>
                <div class="row mt-5">
                    <div class="col-6">
                        <h4 style="color: @ViewBag.Color;" class="card-item-name">@item.Name <i>Trust Bank</i></h4>
                        <p>@item.Info</p>
                        <div class="row mt-4">
                            <div class="col-3">
                                <b style="color: @ViewBag.Color;" class="card-item-text">@item.Features[0].Title</b>
                                <p>@item.Features[0].Info</p>
                            </div>
                            <div class="col-3 offset-1">
                                <b style="color: @ViewBag.Color;" class="card-item-text">@item.Features[1].Title</b>
                                <p>@item.Features[1].Info</p>
                            </div>
                            <div class="col-3 offset-1">
                                <b style="color: @ViewBag.Color;" class="card-item-text">@item.Features[2].Title</b>
                                <p>@item.Features[2].Info</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 offset-2">
                        <img width=330 src=@item.ImageUrl />
                    </div>
                </div>

                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="main-btn btn-start me-1" asp-action="Login" asp-controller="Auth">Checkout</a>
                }
                else
                {
                    <a class="main-btn btn-start me-1" asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>
                }
                <!-- Button trigger modal -->
                <button class="btn main-btn btn-watch" data-bs-toggle="modal" data-bs-target="#modal">
                    More
                </button>
            </div>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div style="background-color:#24262D" class="modal-content">
            <div class="modal-header">
                <h3 style="color:#FDCF49;">Advantages</h3>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal" aria-bs-label="close"></button>
            </div>
            <div class="modal-body">
                <img class="modal-image-pattern" src="/img/card-template.png" width="120" />
                <h6 class="modal-info"><i>1.</i> Free maintenance</h6>
                <h6 class="modal-info"><i>2.</i> Free deposits and transfers</h6>
                <h6 class="modal-info"><i>3.</i> Withdrawal without commission</h6>
                <p class="modal-info-actions mt-4">Top up | Transfer | Store | Withdraw | Pay</p>
            </div>
        </div>
    </div>
</div>
<!-- Modal end-->
