
@model HistoryViewModel

@foreach (var item in Model.Operations)
{
    <div class="container mt-5">
        <div class="">
            <div class="row mt-5">
                <div class="col-6" style="border-bottom: 2px solid gray;">
                    <div class="row mt-4">
                        @switch (item.CardOperationType)
                        {
                            case CardOperationType.Transfer:
                                if (item.CardToId == Model.CardId)
                                {
                                    ViewData["amount"] = "+";
                                    <h5>Transfer from user</h5>
                                    <p style="color:gray;">Transfer</p>
                                    <div class="row">
                                        <div class="col-4">
                                            <p><b class="card-item-text">from:</b> @item.CardFrom.CardName @item.CardFrom.CardSurname</p>
                                        </div>
                                        <div class="col-4">
                                            <p><b class="card-item-text">card</b> @item.RecipientСardNumber</p>
                                        </div>
                                        <div class="col-2">
                                            <p><b class="card-item-text">@ViewData["amount"]</b> <b>@item.Amount$</b></p>
                                        </div>
                                    </div>                                                                                                      
                                }
                                if (item.CardFromId == Model.CardId)
                                {
                                    ViewData["amount"] = "-";
                                    <h5>Transfer to user</h5>
                                    <p style="color:gray;">Transfer</p>

                                    <div class="row">
                                        <div class="col-4">
                                            <p><b class="card-item-text">to:</b> @item.CardTo.CardName @item.CardTo.CardSurname</p>
                                        </div>
                                        <div class="col-4">
                                            <p><b class="card-item-text">card</b> @item.RecipientСardNumber</p>
                                        </div>
                                        <div class="col-2">
                                            <p><b class="card-item-text">@ViewData["amount"]</b> <b>@item.Amount$</b></p>
                                        </div>
                                    </div>
                                }
                                break;

                            case CardOperationType.Replenish:
                                if (item.CardFromId == Model.CardId)
                                {
                                    ViewData["amount"] = "-";
                                    <h5>Write-off from the card</h5>
                                    <p style="color:gray;">Withdrawal</p>

                                    <div class="row">
                                        <div class="col-4">
                                            <p><b class="card-item-text">to:</b> @item.CardFrom.CardName @item.CardFrom.CardSurname</p>
                                        </div>
                                        <div class="col-4">
                                            <p><b class="card-item-text">card</b> @item.RecipientСardNumber</p>
                                        </div>
                                        <div class="col-2">
                                            <p><b class="card-item-text">@ViewData["amount"]</b> <b>@item.Amount$</b></p>
                                        </div>
                                    </div>
                                }
                                if (item.CardToId == Model.CardId)
                                {
                                    ViewData["amount"] = "+";
                                    <h5>Card replenishment</h5>
                                    <p style="color:gray;">Replenishment</p>

                                    <div class="row">
                                        <div class="col-4">
                                            <p><b class="card-item-text">from:</b> @item.CardFrom.CardName @item.CardFrom.CardSurname</p>
                                        </div>
                                        <div class="col-4">
                                            <p><b class="card-item-text">card</b> @item.RecipientСardNumber</p>
                                        </div>
                                        <div class="col-2">
                                            <p><b class="card-item-text">@ViewData["amount"]</b> <b>@item.Amount$</b></p>
                                        </div>
                                    </div>
                                }
                                break;
                        }                                              
                    </div>
                </div>                
            </div>
        </div>
    </div>
}
